.carousel-item img {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 500px;
    object-fit: cover;
    margin: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}

.carousel-container {
    margin-top: 150px;
}